// main colors
$color-primary: #00061d;
$color-secondary: #9db1ff;
$color-booty: #6f5499;
// element colors
$color-angular: #F00;
$color-angular-fire: #F80;
$color-web-api: #FF0;
$color-canvas: #0F0;
$color-polymer: #0F8;
$color-experiment: #0FF;
$color-github: #08F;
$color-all: #00F;
$color-halogen: #F0F;
$color-noble-gas: #F08;
