.navbar-fixed-top {
	background: transparent;
	border-bottom: 1px solid #000;
	border-color: lighten(#00061d, 75%);
}
.navbar-fixed-bottom {
	background: transparent;
	border-top: 1px solid #000;
	border-color: lighten(#00061d, 75%);
}